api_platform:
  defaults:
    pagination_items_per_page: 25
    pagination_maximum_items_per_page: 50
    pagination_client_items_per_page: true
  collection:
    pagination:
      enabled_parameter_name: pagination
      items_per_page_parameter_name: itemsPerPage
  swagger:
    api_keys:
      # overridden in OpenApiFactoryDecorator
      access_token:
        name: Authorization
        type: header